{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h6>All categories</h6>
{{ include('category/_category_list.html.twig', {categories: categories})}}

<h6>All products</h6>
<div class="d-flex">
    {% if products|length > 0%}
        {% for product in products %}
            {{ include("product/_product.html.twig", {product: product})}}
        {% endfor %}
    {% else %}
        No products in database!
    {% endif %}
</div>
{% endblock %}
