{% extends 'base.html.twig' %}

{% block title %}Add Categories{% endblock %}

{% block bread %}
    <li class="breadcrumb-item active" aria-current="page">Add Category</li>
{% endblock %}

{% block body %}

<h1>Add Category</h1>

{{ form_start(form) }}
{{ form_end(form) }}

{% endblock %}
