{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block bread %}
    <li class="breadcrumb-item active" aria-current="page">Add Product</li>
{% endblock %}

{% block body %}

<h1>Add Product</h1>

{{ form_start(form) }}
{{ form_end(form) }}

{% endblock %}
