{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block bread %}
    <li>/</li><li class="link-primary active" aria-current="page">Product</li>
{% endblock %}

{% block body %}
<div class="d-flex">
    {{ include("product/_product_detailed.html.twig", {product: product})}}
</div>
{% endblock %}
